.chartBox {
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  border: solid 1px greenyellow;
  background: white;
}

.rotate {
  transform: rotate(-90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.positionRed{
  position: absolute;
  top: 6rem;
}
.positionBlue{
  position: absolute;
  top: 15rem;
}
